[CONFIG]
Cookie = ma080k3peu0udkr4k16e4ajtk3rt2eofjue2486p20

# Remember that the priority is according to the order in which it was written
Links = http://www.steamgifts.com/giveaways/search?type=wishlist,
        http://www.steamgifts.com,
        http://www.steamgifts.com/giveaways/search?type=new

minTime = 7000
maxTime = 7300
