# If you want to set it manually. Remove all entries from
# inside [Cookies] (if exists others) and set ONLY the variable
# PHPSESSID with your cookie
[Cookies]
PHPSESSID = 473824825792389534795236472374623568234

[Config]
chromeProfile = 

Links = http://www.example.com/link1,
        http://www.example.com/link2

minTime = 3700
maxTime = 4100

[Debug]
IntegrityCheck = False
