# If you want to set it manually. Remove all entries from
# inside [Cookies] (if exists others) and set ONLY the variable
# PHPSESSID with your cookie
[Cookies]
PHPSESSID = ma080k3peu0udkr4k16e4ajtk3rt2eofjue2486p20

[Config]
chromeProfile = Default

# Remember that the priority is according to the order in which it was written
Links = http://www.steamgifts.com/giveaways/search?type=wishlist,
        http://www.steamgifts.com,
        http://www.steamgifts.com/giveaways/search?type=new

minTime = 7000
maxTime = 7300

[Debug]
IntegrityCheck = False
