# If you want to set it manually. Remove all entries from
# inside [Cookies] (if exists others) and set ONLY the variables
# sessionid and steamLogin with your cookies
[Cookies]
sessionid = 63563457345634573
steamLogin = 7345735634563457345637

[Config]
chromeProfile = Default
MostValuableFirst = True

[Debug]
IntegrityCheck = False
DryRun = False
